<!DOCTYPE html>
<html>
<head>
    <% include ./Layout/header.ejs %>
</head>

<body>

<div class="container">
    <h2><%= bookname %></h2>
    <img src="/<%= imageurl %>" style="width:304px;height:350px;">
    <h4>Author:</h4>
    <p><%= author %></p>
    <h4>Genres:</h4>
    <p><%= genres %></p>
    <h4>Description:</h4>
    <p><%= description %></p>
    <h4>Quantity:</h4>
    <p><%= quantity %></p>
</div>

<footer>
    <% include ./Layout/footer.ejs %>
</footer>

</body>
</html>
