<!DOCTYPE html>
<html>
<head>
    <% include ./Layout/header.ejs %>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
		
		var createCookie = function(name, value, days) {
			console.log("name is" + name);
    var expires;
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
    }
    else {
        expires = "";
    }
    document.cookie = name + "=" + value + expires + "; path=/";
	

// var log = new Object();
//  log.name = name;
//  log.date = getDate();



var log = name+";"+getDate();
console.log("cookie creatwed" + getCookie(name)[0]);

	document.getElementById('log').setAttribute('href', '/logAction/' + log);

// 	$.ajax({
//   dataType: "json",
//   method: "GET",
//   //contentType: "application/json",
//   url: "https://hamid-test.herokuapp.com/logAction/log",
//   data: logJSON

// });


  
	
}

var delete_cookie = function(name) {
	console.log("removing from basket");
    document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
	var theCookies = document.cookie.split(';');
	if (document.cookie.length < 1) {
    console.log("basket is empty");
    document.getElementById('delete').setAttribute('href', '/removeItem/false' );

	}
	
	location.reload();
};

function checkifadded(name) {
console.log("i am here");
var firstbtn = document.getElementById("log");
var secondbtn = document.getElementById("delete");
if (getCookie(name) == "") {
	console.log("item not added to basket");
$('#delete').hide();

} else {
	console.log("item added to basket");
    $('#log').hide();
}

//firstbtn.parentNode.replaceChild(secondbtn, firstbtn);
	
}

function getDate() {
 var date = new Date();
date.setTime(date.getTime());

return date.toGMTString();


}

function sendLog(item) {

var log = {
   "id" : item,
   "date" : getDate()

}

console.log("logging complete");

return log;

}

function getCookie(c_name) {
    if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) {
                c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
        }
    }
    return "";
}


function listCookies() {

    var theCookies = document.cookie.split(';');
    var aString = '';
    for (var i = 0 ; i <= theCookies.length; i++) {
        aString += theCookies[i] + ";";
    }
    return aString;
}


function makeShoppingList(){


var elem = document.getElementById("ShoppingCart");
    
elem.append(getAllCookies());


}

</script>

<body>

<div class="container">
    <h2><%= bookname %></h2>
    <img src="/<%= imageurl %>" style="width:304px;height:350px;">
    <h4>Author:</h4>
    <p><%= author %></p>
    <h4>Genres:</h4>
    <p><%= genres %></p>
    <h4>Description:</h4>
    <p><%= description %></p>
    <h4>Quantity:</h4>
    <p><%= quantity %></p>
    <% console.log("login is true in bookinfo"); %>
     <% if (login==true && quantity >= 1) { %>
		<body onload = "checkifadded('<%= bookname %>')"> <a id="log"   onclick="createCookie('<%= bookname %>',<%= quantity %>, 1)" class="btn btn-info" role="button">Add to Cart</a> 
		<a id="delete"  onclick="delete_cookie('<%= bookname %>')" class="btn btn-info" role="button">Remove from Cart</a>
		</body>
				<% } %>
			
		</li>
		
      
</div>

<footer>
    <% include ./Layout/footer.ejs %>
</footer>

</body>
</html>
